::ng-deep .p-datatable-table-container {
      overflow: auto;
      min-height: calc(100vh - 261px);

      .p-datatable-tbody tr td {
        .p-select {
         min-width: 92%;
       }
       @media screen and (max-width: 560px) {
        .space {
          // justify-content: space-between !important;
          flex-direction: row;
          column-gap: 8px;
        }
       }
      }

      
    }


.user-list-card {
  max-height: calc(100% - 6px);
  overflow: auto;
  margin: 3px;
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .action-icons {
  display: flex;
  gap: 0.8rem;  // space between icons
  align-items: center;

  .edit-icon {
    color: #42A5F5;
    cursor: pointer;
  }

  .delete-icon {
    color: #FF7043;
    cursor: pointer;
  }
}


  // Make table scrollable on small screens
  @media (max-width: 768px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}
