<div class="list-card">
  <p-confirmpopup key="deleteStudent"></p-confirmpopup>
  <h2>All Students</h2>
  <p-table [value]="filteredStudents" [paginator]="true" [rows]="10" [loading]="loading()">
    <ng-template #caption>
        <div class="flex">
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText id="searchBox" [(ngModel)]="searchTerm" (ngModelChange)="filterStudents()" placeholder="Search 'use space for multiple'" autocomplete="off" />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Profile</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Roll No</th>
        <th>Enrollment No</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>GuardianName</th>
        <th>GuardianContact</th>
        <th>Address</th>
        <th>Photos</th>
        <th>Courses</th>
        @if(loggedUserRole === 'admin') {
          <th>Created By</th>
        }
        @if(loggedUserRole === 'admin') {
          <th>Updated By</th>
        }
        @if(loggedUserRole === 'admin'|| loggedUserRole === 'editor') {
          <th>Actions</th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-student>
      <tr *ngIf="student">
        <!-- Profile -->
        <td>
          <img
            [src]="API_URL + '/img/' + student?.user?.profilePic"
            alt="profile pic"
            class="w-7rem border-round max-h-5rem"
          />
        </td>

        <!-- Basic Info -->
        <td>{{ student?.user?.name }}</td>
        <td>{{ student?.user?.email }}</td>
        <td>{{ student?.phone }}</td>
        <td>{{ student?.rollNo}}</td>
        <td>{{ student?.enrollmentNo}}</td>
        <td>{{ student?.dob | date:'dd/MM/yyyy' }}</td>
        <td>{{ student?.gender }}</td>
        <td>{{ student?.guardianName }}</td>
        <td>{{ student?.guardianContact }}</td>

        <!-- Address Modal -->
        <td>
          <button pButton type="button" icon="pi pi-eye" label="View" (click)="viewAddress(student.address)"></button>
        </td>

        <!-- Photos Modal -->
        <td>
          <button pButton type="button" icon="pi pi-images" label="View" (click)="viewPhotos(student.photos)"></button>
        </td>

        <!-- Courses Accordion Modal -->
        <td>
          <button pButton type="button" icon="pi pi-book" label="View" (click)="viewCourses(student.courses)"></button>
        </td>

        <!-- createdBy and updated By -->
         @if(loggedUserRole === 'admin') {
          <td>{{student?.createdBy}}</td>
        }
        @if(loggedUserRole === 'admin') {
          <td>{{student?.updatedBy}}</td>
        }

        <!-- Actions -->
        <td>
          <div class="action-icons">
            @if(loggedUserRole === 'admin'|| loggedUserRole === 'editor') {
              <i class="pi pi-pencil edit-icon" 
                title="Edit Student" 
                (click)="navigate(student._id)">
              </i>
            }
            @if(loggedUserRole === 'admin') {
              <i class="pi pi-trash delete-icon" 
                title="Delete Student" 
                (click)="deleteStudent(student._id, $event)">
              </i>
            }
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="5">No students found</td>
        </tr>
    </ng-template>
  </p-table>
</div>

<!-- Address Modal -->
<p-dialog header="Student Address" [(visible)]="showAddressDialog" [modal]="true" [style]="{width: '400px'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <p *ngIf="selectedAddress">{{ selectedAddress.street }}, {{ selectedAddress.city }}, {{ selectedAddress.state }} - {{ selectedAddress.zip }}</p>
  <p *ngIf="!selectedAddress">No address available</p>
</p-dialog>

<!-- Photos Modal -->
<p-dialog header="Student Photos" [(visible)]="showPhotosDialog" [modal]="true" [style]="{width: '600px'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <p-galleria *ngIf="selectedPhotos?.length" [value]="selectedPhotos" [showItemNavigators]="true" [showThumbnails]="true" [circular]="true">
    <ng-template pTemplate="item" let-photo>
      <img [src]="API_URL + '/img/' + photo" class="w-full border-round" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-photo>
      <img [src]="API_URL + '/img/' + photo" class="w-5rem border-round" />
    </ng-template>
  </p-galleria>
  <p *ngIf="!selectedPhotos?.length">No photos uploaded</p>
</p-dialog>

<!-- Courses Modal with Accordion -->
<p-dialog header="Student Courses" [(visible)]="showCoursesDialog" [modal]="true" [style]="{width: '600px'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <p-accordion [value]="['0']" [multiple]="true" *ngIf="selectedCourses?.length">
        <p-accordion-panel *ngFor="let course of selectedCourses; let i = index" [value]="i.toString()">
            <p-accordion-header>
                {{ course.course }}
            </p-accordion-header>
            <p-accordion-content>
                <p><b>Name:</b> {{ course.course }}</p>
                <p><b>Batch Year:</b> {{ course.batchYear }}</p>
                <p><b>Status:</b> {{ course.status }}</p>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>

    <p *ngIf="!selectedCourses?.length">No courses enrolled</p>

</p-dialog>
