<div class="layout-wrapper">
  <!-- Header -->
  <div class="layout-header">
    <div class="header">
      <div class="logo-container">
        <img src="images/logo.png" alt="CampusPilot Logo" class="app-logo" />
        <span class="app-title">CampusPilot</span>
      </div>
      <div *ngIf="!isMobile() && !!user()" class="mr-3">
        <p-chip  *ngIf="user()?.profilePic !== null" [label]="user()?.name" [image]="API_URL + '/img/' + user()?.profilePic" label="{{ user()?.name }}" (onImageError)="user()!.profilePic=null" />
        <p-chip *ngIf="user()?.profilePic === null" icon="pi pi-user" label="{{ user()?.name }}"> </p-chip>
      </div>
      <button *ngIf="isMobile() && !drawerVisible()" (click)="toggleDrawer()" pButton icon="pi pi-bars"
        aria-label="Toggle Sidebar" class="menu-btn mr-3"></button>
    </div>
  </div>
  
  <p-confirmDialog key="logoutDialog" ></p-confirmDialog>

  <div class="body-wrapper">
    <div class="main-body">
      <!-- Sidebar for large screens -->
       @if(!isMobile()) {
         <div class="layout-sidebar" >
           <p-menubar [model]="itemsSignal()" [autoDisplay]="false" ></p-menubar>
         </div>
       }

      <!-- Drawer for small screens -->
      <p-drawer [visible]="drawerVisible()" [modal]="true" position="left" [dismissible]="true"
        (onHide)="closeDrawer()">
        <ng-template pTemplate="header">
          <p-chip *ngIf="!!user() && user()?.profilePic !== null"
            [image]="API_URL + '/img/' + user()?.profilePic"
            label="{{ user()?.name }}" (onImageError)="user()!.profilePic=null">
          </p-chip>

          <p-chip *ngIf="user()?.profilePic === null"
            icon="pi pi-user"
            label="{{ user()?.name }}">
          </p-chip>
        </ng-template>
        <p-menubar [model]="itemsSignal()"></p-menubar>
      </p-drawer>

      <!-- Body content -->
      <div class="main" [class.full-width]="isMobile()">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div class="speed-dial-wrapper" [class.opened]="speedDialOpen">
    <button class="speed-dial-toggle" (click)="toggleSpeedDial()">
      <i [ngClass]="speedDialOpen ? 'pi pi-times' : 'pi pi-angle-left'"></i>
    </button>

    <p-speedDial [model]="speedDialItems" direction="up" type="linear" 
                buttonClass="p-button-rounded p-button-primary speed-dial-btn">
    </p-speedDial>
  </div>

</div>