 <div class="w-full">

      <!-- LEFT: TITLE -->
        <div class="flex justify-content-between align-items-center w-full">
            <p-chip
            [image]="user?.profilePic || null"
            [icon]="!user?.profilePic ? 'pi pi-user' : ''"
            [label]="user?.name"
            (onImageError)="user.profilePic = null">
            </p-chip>

            <!-- CLOSE ICON -->
            <button
            pButton
            icon="pi pi-times"
            class="p-button-text p-button-rounded p-button-sm"
            (click)="ref.close(null)">
            </button>
        </div>
    </div>
