.dialog-container {
  height: 100%;
}

.dialog-header {
  padding: 1.5rem;
  border-bottom: 1px solid var(--surface-border);

  h3 {
    font-weight: 600;
    color: var(--primary-color);
  }

  p {
    color: var(--text-color-secondary);
  }
}

.dialog-body {
  padding: 1.5rem;
}

.dialog-footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--surface-border);
}

::ng-deep .custom-dialog .p-dialog {
  border-radius: 1rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}