/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";       

:root {
  --label-color: #212121;
  --card-heading-color: #212121;
}

:root.dark-theme {
  --label-color: #212121;
  --card-heading-color: #212121;
}

label {
  color: var(--label-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-error {
  font-size: 0.75rem;
  color: var(--p-red-500); // Aura uses CSS variables starting with --p-
  margin-top: -0.5rem;
  display: block;
}

.p-invalid {
  border-color: var(--p-red-500) !important;
}
