/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";       

:root {
  --label-color: #212121;
  --card-heading-color: #212121;
  --cta-section: #b4ffdf;
  --hero-section: #b4ffdf;
  --header-section: bisque;
  --border-black-white: black;
}

:root.my-dark {
  --label-color: #212121;
  --card-heading-color: #212121;
  --cta-section: #4d846b;
  --hero-section: #4d846b;
  --header-section: #c99f6b;
  --border-black-white: white;
}

label {
  color: var(--label-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-error {
  font-size: 0.75rem;
  color: var(--p-red-500); // Aura uses CSS variables starting with --p-
  margin-top: -0.5rem;
  display: block;
}

.p-invalid {
  border-color: var(--p-red-500) !important;
}
